[submodule "tri-web"]
	path = tri-web
	url = https://github.com/targoninc/tri-web.git
[submodule "labelspace-ui"]
	path = labelspace-ui
	url = https://github.com/targoninc/labelspace-ui.git
[submodule "labelspace-api"]
	path = labelspace-api
	url = https://github.com/targoninc/labelspace-api.git
